
# --- Gradle build files ---
/build/
/out/
/bin/
/.gradle/

# --- IDE settings ---
/.idea/
/*.iml
/eclipse/
/runs/

# --- MCreator specific ---
/run/
/generated/
/MCreatorLocalStorage/
/.mcreator/

# --- OS / Editor / Misc ---
.DS_Store
Thumbs.db
*.swp
*.log

# --- Backup or temp files ---
*.bak
*.tmp
