# Gradle build folders
build/
out/

# IntelliJ IDEA
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# MCreator-specific folders
generated/
MCreatorLocalStorage/
minato_furniture.mcreator
run/
runs/